<!doctype html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <% console.log("locals.user: ", locals.user ) %> <% const user = locals.user
    %>
    <div>
      ID: <%= user.id %>, Name: <%= user.firstName %> <%= user.lastName %>,
      Email: <%= user.email %>, Age: <%= user.age %>, Bio: <%= user.bio %>
    </div>
    <a href="/"><button type="button">home</button></a>
  </body>
</html>
